Current Goal:
Ensure that data is being prepped in the most appropriate way possible

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
import math

import acquire

# Statistical Tests
import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns

In [2]:
train, validate, test = acquire.prepare_zillow()

In [3]:
train.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fips,fullbathcnt,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
48285,2.0,2.0,4.000000,1170.0,Los Angeles,2.0,7.0,33876919.0,-118405108.0,2258.0,...,1916.0,38403.0,294146.0,255743.0,3376.55,6.03762e+13,0.163588,2017-06-27,Floor/Wall,Single Family Residential
4918,3.0,2.0,7.000000,1827.0,Los Angeles,3.0,2.0,33765300.0,-118172000.0,15018.0,...,1970.0,360413.0,604073.0,243660.0,7207.01,6.03758e+13,0.049248,2017-01-25,Central,Condominium
14238,3.0,3.0,8.000000,1949.0,Los Angeles,3.0,2.0,34111771.0,-117748974.0,3317.0,...,1980.0,106726.0,177748.0,71022.0,2210.76,6.0374e+13,0.041176,2017-03-07,Central,Planned Unit Development
33467,3.0,4.0,6.639845,1835.0,Ventura,3.0,2.0,34181577.0,-118953714.0,6098.0,...,1974.0,160407.0,267340.0,106933.0,2801.20,6.11101e+13,0.089397,2017-05-11,Central,Condominium
22026,3.0,3.0,4.000000,1287.0,Los Angeles,3.0,2.0,33802256.0,-118187611.0,6255.0,...,1922.0,159987.0,338075.0,178088.0,4171.91,6.03757e+13,0.035123,2017-04-04,Central,Single Family Residential

In [4]:
print(train.shape)
print(validate.shape)
print(test.shape)

(52518, 25)
(13130, 25)
(7295, 25)

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52518 entries, 48285 to 12816
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bathroomcnt                   52518 non-null  float64
 1   bedroomcnt                    52518 non-null  float64
 2   buildingqualitytypeid         52518 non-null  float64
 3   calculatedfinishedsquarefeet  52518 non-null  float64
 4   fips                          52518 non-null  object
 5   fullbathcnt                   52518 non-null  float64
 6   heatingorsystemtypeid         52518 non-null  float64
 7   latitude                      52518 non-null  float64
 8   longitude                     52518 non-null  float64
 9   lotsizesquarefeet             52518 non-null  float64
 10  propertycountylandusecode     52518 non-null  object
 11  propertylandusetypeid         52518 non-null  object
 12  rawcensustractandblock        52518 non-null  object
 13  regionidcounty                52518 non-null  object
 14  regionidzip                   52518 non-null  object
 15  yearbuilt                     52518 non-null  float64
 16  structuretaxvaluedollarcnt    52518 non-null  float64
 17  taxvaluedollarcnt             52518 non-null  float64
 18  landtaxvaluedollarcnt         52518 non-null  float64
 19  taxamount                     52518 non-null  float64
 20  censustractandblock           52518 non-null  object
 21  logerror                      52518 non-null  float64
 22  transactiondate               52518 non-null  object
 23  heatingorsystemdesc           52518 non-null  object
 24  propertylandusedesc           52518 non-null  object
dtypes: float64(15), object(10)
memory usage: 10.4+ MB

In [6]:
df = acquire.acquire_cache_zillow()

In [7]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN

In [8]:
df = acquire.handle_missing_values(df)
df.head()

,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
0,1727539,14297519,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,3.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,NaN,Single Family Residential
1,1387261,17052889,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,NaN,Single Family Residential
2,11677,14186244,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,NaN,Single Family Residential
3,2288172,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential
4,1970746,10887214,3.0,3.0,8.0,3.0,1312.0,1312.0,6037.0,3.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,0.006940,2017-01-01,Central,Condominium

In [9]:
df.columns

Index(['id', 'parcelid', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'fips', 'fullbathcnt', 'heatingorsystemtypeid',
       'latitude', 'longitude', 'lotsizesquarefeet',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidzip', 'roomcnt', 'unitcnt', 'yearbuilt',
       'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'assessmentyear',
       'landtaxvaluedollarcnt', 'taxamount', 'censustractandblock', 'logerror',
       'transactiondate', 'heatingorsystemdesc', 'propertylandusedesc'],
      dtype='object')

In [10]:
df.propertyzoningdesc.unique()

array([nan, 'LCR110000*', 'LAR3', ..., 'HAR4-R2*', 'LCR1VV', 'BFA15000*'],
      dtype=object)

In [11]:
df.regionidzip.unique()

array([ 96978.,  97099.,  97078.,  96330.,  96451.,  97091.,  96293.,
        96325.,  96173.,  96047.,  96374.,  96966.,  97051.,  97008.,
        97107.,  96962.,  96275.,  96003.,  96220.,  96971.,  96954.,
        96018.,  96120.,  96237.,  96957.,  96352.,  96008.,  97005.,
        96122.,  97067.,  96116.,  96271.,  96946.,  96446.,  96349.,
        96987.,  96450.,  96447.,  96000.,  96291.,  96292.,  96016.,
        96133.,  96486.,  96361.,  96983.,  96998.,  96414.,  96464.,
        97106.,  96517.,  96982.,  96241.,  96121.,  96488.,  97047.,
        96522.,  96961.,  96370.,  95998.,  96366.,  96387.,  96507.,
        96993.,  96506.,  96494.,  96212.,  96337.,  96401.,  96049.,
        97018.,  96229.,  97079.,  96020.,  97118.,  96437.,  95983.,
        96185.,  96086.,  96218.,  96025.,  96236.,  96058.,  96974.,
        97063.,  96373.,  96452.,  96505.,  96294.,  96280.,  97020.,
        97068.,  95984.,  97003.,  96389.,  96208.,  97024.,  97318.,
        96101.,  97041.,  96346.,  96186.,  96398.,  97089.,  95995.,
        96384.,  96192.,  96206.,  96989.,  96136.,  96369.,  96378.,
        96342.,  96995.,  96426.,  96969.,  96137.,  96024.,  96956.,
        96531.,  96197.,  96981.,  96967.,  96980.,  96943.,  97328.,
        97048.,  96183.,  97021.,  97023.,  96113.,  97025.,  96377.,
        96083.,  96958.,  97081.,  96265.,  96514.,  97330.,  96424.,
        97323.,  96092.,  96990.,  97084.,  97035.,  97039.,  96996.,
        97083.,  96268.,  96354.,  96410.,  96180.,  95993.,  96267.,
        97329.,  96004.,  96102.,  97004.,  96986.,  96420.,  96385.,
        96181.,  97317.,  96013.,  96023.,  97098.,  96479.,  96247.,
        96193.,  96383.,  96368.,  96030.,  96150.,  96201.,  96963.,
        96149.,  96947.,  96327.,  96174.,  96489.,  96097.,  96213.,
        96001.,  96242.,  96284.,  96095.,  97097.,  96240.,  96341.,
        97116.,  96245.,  96364.,  96940.,  96160.,  96952.,  96005.,
        96941.,  96128.,  96375.,  96238.,  96985.,  96207.,  96246.,
        96027.,  96228.,  96480.,  96239.,  97027.,  96117.,  95999.,
        96513.,  96523.,  97109.,  96379.,  96103.,  96270.,  96415.,
        96163.,  96965.,  96017.,  96134.,  96510.,  96161.,  96123.,
        96474.,  96104.,  96215.,  97344.,  96490.,  96222.,  96217.,
        96106.,  96129.,  96524.,  96050.,  97026.,  96107.,  95987.,
        96485.,  96006.,  96221.,  96496.,  97043.,  96230.,  96296.,
        96492.,  96393.,  96012.,  96169.,  96127.,  96336.,  96171.,
        97319.,  96351.,  96152.,  96497.,  96091.,  96100.,  96478.,
        96959.,  96533.,  96449.,  95985.,  96339.,  96046.,  96320.,
        95991.,  96515.,  96321.,  97016.,  96395.,  96322.,  96022.,
        96355.,  96028.,  96964.,  97066.,  96019.,  96356.,  96475.,
        96278.,  96508.,  97050.,  96979.,  96124.,  97040.,  96473.,
        96111.,  97104.,  96324.,  97001.,  96371.,  97006.,  96026.,
        96469.,  96045.,  96126.,  96436.,  96433.,  96244.,  96048.,
        95997.,  95989.,  96109.,  96326.,  96190.,  96151.,  96172.,
        96125.,  96975.,  96295.,  97007.,  96948.,  97065.,  95982.,
        96412.,  97101.,  96210.,  96234.,  96282.,  96939.,  97052.,
        96090.,  96289.,  95996.,  96225.,  96525.,  96465.,  96119.,
        96044.,  96216.,  96038.,  96015.,  96037.,  96951.,  97037.,
        97059.,  96162.,  96411.,  96273.,  96021.,  96110.,  96014.,
        96105.,  96007.,  96403.,  97094.,  95986.,  96204.,  96043.,
        96088.,  96438.,  96159.,  96338.,  97113.,  96973.,  97064.,
        96135.,  96323.,  96203.,     nan,  96072.,  96087.,  96029.,
        96040.,  96042.,  96226.,  97298.,  95992.,  96170.,  97331.,
        96002.,  95994.,  97119.,  95988.,  97316.,  96010.,  96009.,
       399675.,  97092.,  96148.,  97324.,  96039.,  96434.,  97108.,
        96500.,  96329.,  96467.,  97111.])

In [12]:
df.regionidzip.shape

(73528,)

In [17]:
train.head()

,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fips,fullbathcnt,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
48285,2.0,2.0,4.000000,1170.0,Los Angeles,2.0,7.0,33876919.0,-118405108.0,2258.0,...,1916.0,38403.0,294146.0,255743.0,3376.55,6.03762e+13,0.163588,2017-06-27,Floor/Wall,Single Family Residential
4918,3.0,2.0,7.000000,1827.0,Los Angeles,3.0,2.0,33765300.0,-118172000.0,15018.0,...,1970.0,360413.0,604073.0,243660.0,7207.01,6.03758e+13,0.049248,2017-01-25,Central,Condominium
14238,3.0,3.0,8.000000,1949.0,Los Angeles,3.0,2.0,34111771.0,-117748974.0,3317.0,...,1980.0,106726.0,177748.0,71022.0,2210.76,6.0374e+13,0.041176,2017-03-07,Central,Planned Unit Development
33467,3.0,4.0,6.639845,1835.0,Ventura,3.0,2.0,34181577.0,-118953714.0,6098.0,...,1974.0,160407.0,267340.0,106933.0,2801.20,6.11101e+13,0.089397,2017-05-11,Central,Condominium
22026,3.0,3.0,4.000000,1287.0,Los Angeles,3.0,2.0,33802256.0,-118187611.0,6255.0,...,1922.0,159987.0,338075.0,178088.0,4171.91,6.03757e+13,0.035123,2017-04-04,Central,Single Family Residential

In [22]:
q1, q3 = train.calculatedfinishedsquarefeet.quantile([.25, .75])
q1, q3

(1174.0, 2074.0)

In [23]:
train.columns.to_list()

['bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedfinishedsquarefeet',
 'fips',
 'fullbathcnt',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'rawcensustractandblock',
 'regionidcounty',
 'regionidzip',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'landtaxvaluedollarcnt',
 'taxamount',
 'censustractandblock',
 'logerror',
 'transactiondate',
 'heatingorsystemdesc',
 'propertylandusedesc']

In [34]:
def compress_outliers(df):
    '''
    Takes in a dataframe and identifies the interquartile range (IQR) of each numeric column.
    An upper threshold is defined for each column equal to the 75th percentile + 6 * IQR.
    A lower threshold is defined for each column equal to the 25th percentile - 6 * IQR.
    Any values above the upper threshold are set to be equal to the upper threshold.
    Any values below the lower threshold are set to be equal to the lower threshold.
    Returns the modified dataframe.
    '''
    columns = df.columns.to_list()
    for column in columns:
        if df[column].dtype == 'object':
            continue
        else:
            q1, q3 = df[column].quantile([.25, .75])
            IQR = q3 - q1
            upper_threshold = q3 + 6 * IQR
            lower_threshold = q1 - 6 * IQR 
            df[column] = df[column].apply(lambda x: upper_threshold if x > upper_threshold else x)
            df[column] = df[column].apply(lambda x: lower_threshold if x < lower_threshold else x)
    return df

In [36]:
df_compressed = compress_outliers(train)
df_compressed.calculatedfinishedsquarefeet.describe()

count    52518.000000
mean      1758.142713
std        903.074967
min        152.000000
25%       1174.000000
50%       1524.000000
75%       2074.000000
max       7474.000000
Name: calculatedfinishedsquarefeet, dtype: float64

In [30]:
q1, q3 = df['bathroomcnt'].quantile([.25, .75])

In [37]:
q1, q3 = df['fips'].quantile([.25, .75])

In [38]:
df['fips']

0        6059.0
1        6111.0
2        6059.0
3        6037.0
4        6037.0
          ...
73690    6037.0
73691    6037.0
73692    6111.0
73693    6037.0
73694    6037.0
Name: fips, Length: 73528, dtype: float64

In [39]:
train.fips

48285    Los Angeles
4918     Los Angeles
14238    Los Angeles
33467        Ventura
22026    Los Angeles
            ...
21993    Los Angeles
26824    Los Angeles
24732    Los Angeles
52546    Los Angeles
12816    Los Angeles
Name: fips, Length: 52518, dtype: object